section {
}

body {
}

.long-form {
  max-width: clamp(312px, 80vw, 1200px);
  margin: 0 auto;
}

.component {
  max-width: clamp(312px, 80vw, 1200px);
  margin: 0 auto;
}

.sized-box-small {
  height: min(calc(1vw * var(--scaling-factor)), 1rem);
  width: 1rem;
  transition: background-color 0.3s ease;
}

.sized-box-medium {
  height: min(calc(2vw * var(--scaling-factor)), 2rem);
  width: 1rem;
  transition: background-color 0.3s ease;
}

.sized-box-large {
  height: min(calc(4vw * var(--scaling-factor)), 4rem);
  width: 1rem;
  transition: background-color 0.3s ease;
}

.sized-box-massive {
  height: min(calc(16vw * var(--scaling-factor)), 8rem);
  width: 1rem;
  transition: background-color 0.3s ease;
}

/* move to media.css */
img {
  border-radius: 1rem;
}
